.container-about {
    width: 1610px;
}

.page-heading {
    overflow-y: hidden;
    max-width: 900px;
    position: relative;
    text-align: center;
    margin: 0 auto 60px;
    color: white;
    overflow-x: hidden;
}

.title-about {
    font-family: 'Ma Shan Zheng', sans-serif;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(to left, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 100px;
}

.subtitle-about {
    text-align: center;
    font-family: 'Bangers';
}

.article-heading {
    margin-top: 40px;
}

.article-heading2 {
    margin-top: 40px;
}

.sub-subtitle {
    color: white;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: 'Bangers';
}

.p-heading {
    color:white;
    text-align: justify;
}