/****** START CONTACT SECTION ******/
.titre-contact {
    background: linear-gradient(to left, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 125px;
    font-size: 50px;
    font-family: 'Ma Shan Zheng', serif;

}

.container-principal {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75.5vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container .box {
    text-align: center;
}

.container .box .icon .fa {
    font-size: 80px;
    cursor: pointer;
}

.container .box .icon h4, 
.container .box .icon h3 {
    position: relative;
    overflow: hidden;
    font-weight: 400;
    margin: 0;
    padding: 2px 5px;
    font-size: 24px;
    transition-delay: 0.3333s;
    color: transparent;
}

.container .box .fa:hover ~ h3, 
.container .box .fa:hover ~ h4 {
    background: linear-gradient(to left, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .box .icon h4 {
    font-weight: 600;
    margin: 5px 0;
    font-style: 30px;
}

.container .box .icon h4:before, 
.container .box .icon h3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #00bcd4;
    transition: 1s;
}

.container .box .icon h4:before {
    left: initial;
    right: 100%;
    background: #9c27b0;
}

 .container .box .fa:hover ~ h3:before {
    left: -100%;
}

.container .box .fa:hover ~ h4:before {
    left: initial;
    right: -100%;
}
.fa-envelope:hover {
    color: #4267b2;
}

.fa-phone:hover {
    color: #7E59AD;
}

.fa-map-marker:hover {
    color: #ea4c89;
}

/* MEDIA QUERIES */
@media all {
    body {
        background: url("../images/sitebg.jpg") no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1 {
        font-size: 15rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }

    .nav-list {
        flex-direction: column;
    }

    li {
        margin: 2rem 0;
    }

    .nav-link {
        font-size: 4.5rem;
    }

    .about-heading h1 {
        font-size: 8rem;
    }

    .section-heading h1 {
        font-size: 3rem;
    }

    .about-details .nav-list {
        flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .icon-container {
        width: 7rem;
        height: 7rem;
    }

    .icon-container i {
        font-size: 4rem;
    }

    .timeline ul {
        margin: 0 0 0 auto;
    }

    .timeline .date::before {
        left: -20rem;
    }

    .timeline .date::after {
        left: -5.9rem;
    }
}
/****** END CONTACT SECTION *******/